
head
  h1#logo
    a(href="/")
      span Journey - 世界を歩く。

article.note

  h2 いつか行きたいあの国まで歩こう
  p
    |Journeyは今日歩いた歩数に応じて、世界の国々の情報を知ることができるサービスです。
    |例えば、今日19970歩歩いたとしたら、19970km離れたサウスジョージア・サウスサンドウィッチ諸島の情報を知ることができます。
    |歩数は
    a(href="http://www.fitbit.com/") fitbit
    |を使って1歩あるくごとにカウントされます。

  h2 その日のことはその日のうちに</h2>
  p
    |一日の歩数はその日のうちにしか使えません。
    |また、一日に調べることができる国はただ1つだけです。
    |でも、これは問題ではありません。
    |なぜなら、あなたが毎日健康に行きている限り、歩数は貯まり続けるからです。

a#fitbitLogin(href="/auth") Fitbitアカウントでログイン

footer
  a(href="http://www.yzgw.info/") 管理者に連絡
